<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IOT Challenge</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function checkLedStatus() {
            var checkbox = document.getElementById('ledstatus');
            var status = null;
            if (checkbox.checked != true) {
                status = 'OFF';
            } else {
                status = 'ON';
            }
            $.get('http://localhost:8080/ledstatus', {
                ledstatus: status,
            })
        }
    </script>
</head>

<body>
    <div id="header">
        <h1>IOT CHALLENGE</h1>
    </div>
    <!-- Hiển thị các giá trị lớn nhất, nhỏ nhất, giá trị trung bình -->
    <div class="div-table">
        <table id="highlight-para">
            <tbody>
                <tr>
                    <th>Temperature (&degC)</th>
                    <td>Avg:
                        <%- avg['avgTemp']%>
                    </td>
                    <td>Min:
                        <%- min['minTemp']%>
                    </td>
                    <td>Max:
                        <%- max['maxTemp']%>
                    </td>
                </tr>
                <tr>
                    <th>Humidity (%)</th>
                    <td>Avg:
                        <%- avg['avgHumi']%>
                    </td>
                    <td>Min:
                        <%- min['minHumi']%>
                    </td>
                    <td>Max:
                        <%- max['maxHumi']%>
                    </td>
                </tr>
                <tr>
                    <th>Gas (ppm)</th>
                    <td>Avg:
                        <%- avg['avgGas']%>
                    </td>
                    <td>Min:
                        <%- min['minGas']%>
                    </td>
                    <td>Max:
                        <%- max['maxGas']%>
                    </td>
                </tr>
                <tr>
                    <th>Light status</th>
                    <td colspan="3">
                        <!-- <input id="toggleButton" type="button" value="ON"> -->
                        <label class="switch">
                            <input type="checkbox" onclick="checkLedStatus()"  id="ledstatus">
                            <span class="slider round"></span>
                          </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Hiển thị các thông số của cảm biết -->
    <table class="table-scroll small-first-col">
        <thead>            
            <tr>
                <th>Timestamp</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Gas</th>
                <th>Light</th>
            </tr>
        </thead>
            <!-- Trích xuất dữ liệu từ database -->
        <tbody class="body-half-screen">
            <%result.forEach(element=> {%>
                <tr>
                    <td>
                        <%- element.date.toLocaleString('en-US', { hour12: false })%>
                    </td>
                    <td>
                        <%- element.temperature%>
                    </td>
                    <td>
                        <%- element.humidity%>
                    </td>
                    <td>
                        <%- element.gas%>
                    </td>
                    <td>
                        <%- element.ledStatus%>
                    </td>
                </tr>
                <%})%>
        </tbody>
    </table>
</body>

</html>